@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(0, 0%, 0%);
    --skeleton: hsl(0, 0%, 90%);
    --border: hsl(220, 20%, 90%);
    --btn-border: hsl(214deg, 31.8%, 91.4%);
    --input: hsl(220, 20%, 90%);
    --radius: 0.5rem;
    
    --card: 222 47% 4%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 222 47% 11%;
  }

  .dark {
    --background: hsl(222, 94%, 5%);
    --foreground: hsl(0, 0%, 100%);
    --skeleton: hsl(218, 36%, 16%);
    --border: hsl(220, 20%, 90%);
    --btn-border: hsl(217deg, 32.6%, 17.5%);
    --input: hsl(219, 63%, 16%);
    --radius: 0.5rem;
  }

  body {
    @apply bg-background text-foreground selection:bg-blue-500/30;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .g-button {
    @apply rounded-[var(--radius)] border;
    border-color: var(--btn-border)
  }

  .perspective-1000 {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }
}

.database {
  offset-anchor: 10px 0px;
  animation: database-animation-path;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-duration: 4s;
  animation-delay: 1s;
}

.db-light-1 {
  offset-path: path("M 31 10 v 15 q 0 5 5 5 h 59 q 5 0 5 5 v 25");
}

.db-light-2 {
  offset-path: path("M 77 10 v 10 q 0 5 5 5 h 13 q 5 0 5 5 v 25");
}

.db-light-3 {
  offset-path: path("M 124 10 v 10 q 0 5 -5 5 h -14 q -5 0 -5 5 v 25");
}

.db-light-4 {
  offset-path: path("M 170 10 v 15 q 0 5 -5 5 h -60 q -5 0 -5 5 v 25");
}

@keyframes database-animation-path {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%,-40%) scale(1);
  }
}

.animate-spotlight {
  animation: spotlight 2s ease .75s 1 forwards;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-purple-500;
}

.glass {
  @apply bg-white/5 backdrop-blur-md border border-white/10;
}
